@charset "utf-8";
body {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	height: 100%;
	font-family: 'Cabin', sans-serif;
	color: #666;
}
html {
	height: 100%;	
}

#banner {
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: auto;
	background-image: url(background.jpg);
	background-repeat: no-repeat;
}
#banner #title h1 {
	font-size: 150px;
	font-weight: 700;
	color: #FFF;
}

#title {
	float: left;
	margin-top: 0px;
	margin-left: 50px;
}


#navBar {
	height: 40px;
	width: auto;
	color: #999;
	position: fixed;
	bottom: 0;
	margin-left: 25px;
	margin-bottom: 25px;
	font-weight: bold;
	font-size: 28px;
}

#banner a{
	text-decoration: none;
	color: #FFF;
}

#about {
	position: fixed;
	right: 0;
	margin-top: 200px;
	margin-right: 225px;
	color:#FFF;
	font-size:24px;
	display: none;
	font-weight: bold;
}

#banner #navBar a:hover {
	color: #BCBECD;
}

a {
	color: #666;
	text-decoration: underline;
}


a:hover {
	color: #999;
}
