{% if page.is_main_page %}
  {% assign linklogo = "#page-top" %}
  {% assign linkabout = "#about" %}
  {% assign linkprojects = "#projects" %}
  {% assign linkcontact = "#contact" %}
{% else %}
  {% assign linklogo = "/" %}
  {% assign linkabout = "/#about" %}
  {% assign linkprojects = "/#projects" %}
  {% assign linkcontact = "/#contact" %}
{% endif %}

<nav role="navigation" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
              <span class="icon-bar"> </span><span class="icon-bar"> </span><span class="icon-bar"> </span>
            </button>
            <a href="{{ linklogo }}" class="navbar-brand vertical-align">JG</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav page-scroll">
                <li class="hidden active"><a href="{{ linklogo }}"></a></li>
                <li class="page-scroll"><a href="{{ linkabout }}">About</a></li>
                <li class="page-scroll"><a href="{{ linkprojects }}">Projects</a></li>
                <li class="page-scroll"><a href="{{ linkcontact }}">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>  